# /etc/systemd/system/filebrowser.service
[Unit]
Description=filebrowser service
After=syslog.target

[Service]
ExecStart=filebrowser -c /etc/filebrowser/filebrowser.json
WorkingDirectory=/usr/share/filebrowser

[Install]
WantedBy=multi-user.target