# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = spider_douban_house.settings

[deploy]
url = https://gwq5210.com:6800/
project = spider_douban_house
username = gwq5210
password = 
