# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = spider_mds.settings

[deploy]
url = https://scrapyd.gwq5210.com/
project = spider_mds
username = gwq5210
password = 