# /etc/systemd/system/scrapyd.service
[Unit]
Description=scrapyd service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.local/bin/scrapyd --pid.file="/run/scrapyd/scrapyd.pid" --logfile="/var/log/scrapyd/scrapyd.log"
WorkingDirectory=/usr/share/scrapyd
Environment="PYTHONPATH=$PYTHONPATH:/home/ubuntu/.local/lib/python3.8/site-packages"
StandardOutput=journal
StandardError=inherit # 继承StandardOutput的值

[Install]
WantedBy=multi-user.target